<!DOCTYPE html>
<html lang="en-US" class="crt desktop crt-desktop">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aida Vers - <%= t('translator') %></title>
  <meta name="robots" content="max-image-preview:large">  
  <link rel="stylesheet" href="/data/style.css?v=1718231638">

  <link rel="icon" href="data/images/logo.png" type="image/x-icon">
  <link rel="shortcut icon" href="data/images/logo.png" type="image/x-icon">

  <meta property="og:title" content="Aida Vers - Translator" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.aidavers.com" />
  <meta property="og:image" content="/data/images/orla_square.jpg" />
  <meta property="og:description" content="I'm a professional translator with a passion for bridging language barriers in various fields." />
  <meta property="og:site_name" content="Aida Vers - Translator" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/data/js" data-cfasync="false"
    data-wpfc-render="false" type="text/javascript" async=""></script>     

  <link rel="stylesheet" id="Quicksand-css" href="/data/css1.css"
    type="text/css" media="all">
  <link rel="stylesheet" id="Pacifico-css" href="/data/css2.css"
    type="text/css" media="all">
  <link rel="stylesheet" id="certy-styles-css"
    href="/data/style(1).min.css" type="text/css" media="all">
  <link rel="stylesheet" id="certy-styles-css"
    href="/data/css3.css" type="text/css" media="all">
  <script type="text/javascript" src="/data/jquery.min.js"
    id="jquery-core-js"></script>
  <script type="text/javascript"
    src="/data/modernizr-3.3.1.min.js.descarga"
    id="certy-Modernizer-js-js"></script>
  <meta name="generator" content="WordPress 5.9.9">
  <link rel="canonical" href="https://aidavers.com">
  <link rel="shortlink" href="https://aidavers.com">

  <script data-cfasync="false" type="text/javascript">if (window.addthis_product === undefined) { window.addthis_product = "wpp"; } if (window.wp_product_version === undefined) { window.wp_product_version = "wpp-6.2.6"; } if (window.addthis_share === undefined) { window.addthis_share = {}; } if (window.addthis_config === undefined) { window.addthis_config = { "data_track_clickback": true, "ui_atversion": 300 }; } if (window.addthis_plugin_info === undefined) { window.addthis_plugin_info = { "info_status": "enabled", "cms_name": "WordPress", "plugin_name": "Share Buttons by AddThis", "plugin_version": "6.2.6", "plugin_mode": "AddThis", "anonymous_profile_id": "wp-398b69e50d7db6ad5ecb68327da2dda4", "page_info": { "template": "home", "post_type": "" }, "sharing_enabled_on_post_via_metabox": false }; }
    (function () {
      var first_load_interval_id = setInterval(function () {
        if (typeof window.addthis !== 'undefined') {
          window.clearInterval(first_load_interval_id);
          if (typeof window.addthis_layers !== 'undefined' && Object.getOwnPropertyNames(window.addthis_layers).length > 0) {
            window.addthis.layers(window.addthis_layers);
          }
          if (Array.isArray(window.addthis_layers_tools)) {
            for (i = 0; i < window.addthis_layers_tools.length; i++) {
              window.addthis.layers(window.addthis_layers_tools[i]);
            }
          }
        }
      }, 1000)
    }());
  </script>
 
</head>

<body
  class="home page-template-default page page-id-5 wp-custom-logo crt crt-layers-1 crt-nav-on crt-nav-type2 crt-main-nav-off crt-side-box-on crt-sidebar-on"
  data-color="#b2dcff">
  <div class="crt-wrapper">
    <header id="crtHeader" class="crt-logo-in">
      <div class="crt-head-inner crt-container">
        <div class="crt-container-sm">
          <div class="crt-head-row">
            <div id="crtHeadCol1" class="crt-head-col text-left">
              <a id="crtLogo" class="crt-logo">
                <span><%= t('translator') %></span>
              </a>
            </div>
                <div class="lang-menu">
                  <div class="selected-lang" onclick="jQuery('.lang-menu').toggleClass('click')">
                    <span><%= t('language') %></span>
                  </div>
                  <ul>
                    <li>
                      <a class="en" href="/en"><%= t('english') %></a>
                    </li>
                    <li>
                      <a class="ca" href="/ca"><%= t('catalan') %></a>
                    </li>
                    <li>
                      <a class="es" href="/es"><%= t('spanish') %></a>
                    </li>
                    <li>
                      <a class="fr" href="/fr"><%= t('french') %></a>
                    </li>
                    <li>
                      <a class="it" href="/it"><%= t('italian') %></a>
                    </li>
                  </ul>
                </div>

            <div id="crtHeadCol3" class="crt-head-col text-right">
                <span class="crt-icon crt-icon-side-bar-icon"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="crtContainer" class="crt-container">
      <div id="crtSideBoxWrap">
        <div id="crtSideBox" class="clear-mrg">
          <div class="crt-side-box-1 clear-mrg">           
              <div class="crt-card bg-primary text-center">
                <div class="crt-card-avatar">
                  <span class="crt-avatar-state">
                    <span class="crt-avatar-state1">
                      <picture>
                        <source srcset="/data/images/orla_square.jpg" media="(max-width: 991px)">
                        <img class="avatar avatar-12" id="<%= t('orla') %>" alt="Aida" src="/data/images/orla.jpg">
                      </picture>                      
                    </span>
                  </span>
                </div>
                <div class="crt-card-info clear-mrg">
                  <h2 class="text-upper">Aida Vers</h2>
                  <p class="text-muted"><%= t('translator') %></p>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
      <div id="crtNavWrap" class="hidden-sm hidden-xs">
        <div id="crtNavInner" class="crt-sticky"
          style="top: 100px; width: 56px; bottom: auto; position: fixed;">
          <div class="crt-nav-cont">
            <div id="crtNavScroll" style="height: 150vh;">
              <nav id="crtNav" class="crt-nav">
                <div class="crt-nav-img current">
                  <a href="#about" data-tooltip="<%= t('about') %>">
                    <img alt="<%= t('orla') %>" src="/data/images/orla_square.jpg" class="avatar avatar-50"> </a>
                </div>
                <ul class="clear-list">
                  <li
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-41">
                    <a href="#exp" data-tooltip="<%= t('exp') %>">
                     <div>
                      <img alt="<%= t('briefcase') %>" src="/data/images/briefcase.png" style="width: 35px; height: 35px;">
                    </div>
                    </a>
                  </li>
                  
                  <li
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-43">
                    <a href="#projects" data-tooltip="<%= t('title/projects') %>">
                      <div>
                      <img alt="<%= t('list') %>" src="/data/images/project.png" style="width: 35px; height: 35px;">
                      </div>
                    </a>
                  </li>
                  <li
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-43">
                    <a href="#interests" data-tooltip="<%= t('title/interests') %>">
                      <div>
                      <img alt="<%= t('heart') %>" src="/data/images/heart.png" style="width: 35px; height: 35px;">
                      </div>
                    </a>
                  </li>
                  <li
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-43">
                    <a href="#contact" data-tooltip="<%= t('cntc') %>">
                      <div>
                      <img alt="<%= t('email') %>" src="/data/images/mail.png" style="width: 35px; height: 35px;">
                      </div>
                    </a>
                  </li>                  
                </ul>
              </nav>
            </div>
            <div id="crtNavTools" class="hidden">
              </button>
            </div>
          </div>
          <div class="crt-nav-btm"></div>
        </div>
      </div>
      <div class="crt-container-sm">
        <div class="crt-paper-layers crt-animated">
          <div class="crt-paper clear-mrg clearfix">
            <div class="crt-paper-cont paper-padd clear-mrg">
              <section id="about" class="section padd-box brd-btm">
                <div class="row">
                  <div class="col-sm-12 clear-mrg text-box">
                    <h2 class="title-lg text-upper"> <%= t('greeting') %></h2>
                    <p><%= t('introduction') %></p>
                    <div class="share-box text-left clearfix">
                      <div class="addthis_inline_share_toolbox"></div>
                    </div>
                    <p>&nbsp;</p>
                  </div>
                </div>
              </section>
              <section id="prof-skills" class="section padd-box brd-btm">
                <div class="row">
                  <div class="col-sm-6 clear-mrg">
                    <h3 class="title-thin text-muted"><%= t('title/personal-information') %></h3>
                    <dl class="dl-horizontal clear-mrg">
                      <dt class="text-upper"><%= t('full-name') %></dt>
                      <dd>Aida Vers Delgado</dd>
                      <dt class="text-upper"><%= t('dob') %></dt>
                      <dd><%= t('birth') %></dd>
                      <dt class="text-upper"><%= t('mail') %></dt>
                      <dd><a href="mailto:aida@aidavers.com">aida@aidavers.com</a></dd>
                      <dt class="text-upper"><%= t('phone') %></dt>
                      <dd>+34 618 03 55 48</dd>
                      <dt class="text-upper"><%= t('address') %></dt>
                      <dd><%= t('home') %></dd>
                      <dt class="text-upper"><%= t('nationality') %></dt>
                      <dd><%= t('spain') %></dd>
                      <dt class="text-upper"><%= t('license') %></dt>
                      <dd><%= t('car') %></dd>
                    </dl>
                  </div>
                  <div class="col-sm-6 clear-mrg">
                    <h3 class="title-thin text-muted"><%= t('title/languages') %></h3>
                    <div class="progress-bullets crt-animated" role="progressbar" aria-valuenow="97" aria-valuemin="0"
                      aria-valuemax="10">
                      <strong class="progress-title"><%= t('spanish') %></strong>
                      <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                      </span>
                      <span class="progress-text text-muted"><%= t('native') %></span>
                    </div>
                    <div class="progress-bullets crt-animated" role="progressbar" aria-valuenow="97" aria-valuemin="0"
                      aria-valuemax="10">
                      <strong class="progress-title"><%= t('catalan') %></strong>
                      <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                      </span>
                      <span class="progress-text text-muted"><%= t('native') %></span>
                    </div>
                    <div class="progress-bullets crt-animated" role="progressbar" aria-valuenow="97" aria-valuemin="0"
                      aria-valuemax="10">
                      <strong class="progress-title"><%= t('french') %></strong>
                      <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                      </span>
                      <span class="progress-text text-muted"><%= t('fluent') %></span>
                    </div>
                    <div class="progress-bullets crt-animated" role="progressbar" aria-valuenow="97" aria-valuemin="0"
                      aria-valuemax="10">
                      <strong class="progress-title"><%= t('english') %></strong>
                      <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                      </span>
                      <span class="progress-text text-muted"><%= t('fluent') %></span>
                    </div>
                    <div class="progress-bullets crt-animated" role="progressbar" aria-valuenow="37" aria-valuemin="0"
                      aria-valuemax="10">
                      <strong class="progress-title"><%= t('italian') %></strong>
                      <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                      </span>
                      <span class="progress-text text-muted"><%= t('proficient') %></span>
                    </div>
                  </div>
                </div>

              </section>
              <section id="skills" class="section padd-box brd-btm">
                <div class="row">
                  <div class="col-sm-6 clear-mrg">
                    <h3 class="title-thin text-muted"><%= t('title/professional-skills') %></h3>
                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                    aria-valuemax="100">
                    <strong class="progress-title"><%= t('literary') %></strong>
                    <div class="progress-bar" data-text="95%" data-value="0.95"></div>
                  </div>
                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100">
                      <strong class="progress-title"><%= t('subtitling') %></strong>
                      <div class="progress-bar" data-text="75%" data-value="0.75"></div>
                    </div>
                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100">
                      <strong class="progress-title"><%= t('technical') %></strong>
                      <div class="progress-bar" data-text="85%" data-value="0.85"></div>
                    </div>
                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                      aria-valuemax="100">
                      <strong class="progress-title"><%= t('localization') %></strong>
                      <div class="progress-bar" data-text="95%" data-value="0.95"></div>
                    </div>
                  </div>
                  <div class="col-sm-6 clear-mrg">
                    <h3 class="title-thin text-muted"><%= t('title/additional-skills') %></h3>
                    <div class="row">
                      <div class="col-xs-4 text-center">
                        <div class="progress-chart crt-animate" role="progressbar" aria-valuenow="100"
                          aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar" data-text="100%" data-value="1" style="position: relative;">
                          </div>
                          <strong class="progress-title"><%= t('detail') %></strong>
                        </div>
                      </div>
                      <div class="col-xs-4 text-center">
                        <div class="progress-chart crt-animate" role="progressbar" aria-valuenow="100"
                          aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar" data-text="100%" data-value="1" style="position: relative;">
                          </div>
                          <strong class="progress-title"><%= t('cultural') %></strong>
                        </div>
                      </div>
                      <div class="col-xs-4 text-center">
                        <div class="progress-chart crt-animate" role="progressbar" aria-valuenow="100"
                          aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar" data-text="100%" data-value="1" style="position: relative;">
                          </div>
                          <strong class="progress-title"><%= t('time') %></strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section id="data" class="section padd-box">
                <div class="row">
                  <div class="col-sm-6 clear-mrg">
                    <h3 class="title-thin text-muted"><%= t('title/main-strengths') %></h3>
                    <ul class="styled-list clear-mrg">
                      <li><%= t('services') %></li>
                      <li><%= t('specialization') %></li>
                      <li><%= t('skills') %></li>
                      <li><%= t('motivation') %></li>
                      <li><%= t('quality') %></li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="crt-paper-layers crt-animate">
          <div class="crt-paper clear-mrg clearfix">
            <div class="crt-paper-cont paper-padd clear-mrg">
              <section id="exp" class="section padd-box brd-btm">
                <h2 class="title-lg text-upper"><%= t('title/work-experience') %></h2>
                <div class="education">
                  <div class="education-box">
                    <span class="education-date">
                      <span>2022-2024</span>
                    </span>
                    <h3>
                      <%= t('proofreader') %></h3>
                      <a href="https://montsedelgado.cat">
                      <span class="education-company">Montse Delgado, Centre de Reforç Escolar</span></a>
                      <p><%= t('proofreader/description') %></p>
                    </a>
                  </div>  
                  <div class="education-box">
                    <span class="education-date">
                      <span>2021-2024</span>
                    </span>
                    <h3>
                      <%= t('translator') %> </h3>
                      <a href="https://montsedelgado.cat">
                      <span class="education-company">Montse Delgado, Centre de Reforç Escolar</span></a>
                      <p><%= t('translator/description') %></p>
                    </a>
                  </div>  
                  <div class="education-box">
                    <span class="education-date">
                      <span>2019 - 2024</span>
                    </span>
                    <h3>
                      <%= t('teacher') %></h3>
                      <a href="https://montsedelgado.cat">
                    <span class="education-company">Montse Delgado, Centre de Reforç Escolar</span></a>
                    <p><%= t('teacher/description') %></p>
                  </div>    
                </div>
              </section>
              <section id="timeline" class="section padd-box brd-btm">
                <h2 class="title-lg text-upper"><%= t('title/education') %></h2>
                <div class="education">
                  <div class="education-box">
                    <span class="education-date">
                      <span>2020-2024</span>
                    </span>
                    <h3>
                      <a href="https://www.uab.cat/web/estudiar/ehea-degrees/general-information-1216708259085.html?param1=1228291018508"><%= t('degree') %></a>
                    </h3>
                    <a href="https://www.uab.cat/"><span class="education-company">Universitat Autònoma de Barcelona </a></span>
                    </a>
                    <p><%= t('degree/description') %></p>
                </div>                  
                  <div class="education-box">
                    <span class="education-date">
                      <span>2017 - 2020</span>
                    </span>
                    <h3>
                      <a href="https://agora.xtec.cat/iesgerbert/estudis-2/batxibac/"><%= t('batxibac') %></a></h3>
                      
                      <a href="https://agora.xtec.cat/iesgerbert/"><span class="education-company">Institut Gerbert d'Aurillac</span></a>   
                    <p><%= t('batxibac/description') %></p>                 
                  </div>
              </section>
              <br>       
              <section id="projects" class="section padd-box">
                <h2 class="title-lg text-upper"><%= t('title/projects') %></h2>
                <div class="project">
                  <div class="project">
                    <div class="ref-box brd-btm">                      
                    <h3><a href="https://github.com/royalmo/itic-copilot"><%= t('itic') %></a></h3>
                    <img alt="<%= t('itic') %>" src="/data/images/itic.jpg" style="width: 9rem; height: 15rem;"><br><br>
                      <p><strong><%= t('description') %>:</strong> <%= t('itic/description') %></p>
                      <p><strong><%= t('technologies') %>:</strong> HTML </p>
                      <p><strong><%= t('lang') %>:</strong> <%= t('catalan') %>, <%= t('spanish') %>, <%= t('english') %>, <%= t('french') %>, <%= t('italian') %></p>                      
                    </div>
                  </div>
                  <br>   
                  <div class="ref-box brd-btm">                 
                  <h3><%= t('website') %></h3>        
                  <img alt="<%= t('site') %>" src="/data/images/language.jpg" style="width: 8rem; height: 3rem;"><br><br>          
                  <p><strong><%= t('description') %>: </strong><%= t('website/description') %></p>
                  <p><strong><%= t('technologies') %>:</strong> HTML, CSS, JavaScript</p>
                  <p><strong><%= t('lang') %>:</strong> <%= t('catalan') %>, <%= t('spanish') %>, <%= t('english') %>, <%= t('french') %>, <%= t('italian') %></p>
              </div>
              <br>
              <br>              
              <div class="ref-box">
                <h3><%= t('tfg') %></h3>
                <img alt="<%= t('magazine') %>" src="/data/images/bayard.jpg" style="width: 9,5rem; height: 14rem;"><br><br>
                  <p><strong><%= t('description') %>:</strong> <%= t('tfg/description') %></p>
                  <p><strong><%= t('source') %>:</strong> "Mes premiers J'aime lire: Drôle de directeur!", Bayard.</p>
                  <p><strong><%= t('lang') %>:</strong> <%= t('french/catalan') %></p>
                  <p><strong><%= t('link') %>:</strong> <a href="http://tfgurl.com" target="_blank">Not available (yet)</a></p>
              </div>
              </section>              
            </div>
          </div>
        </div>
     
        <div class="crt-paper-layers crt-animate">
          <div class="crt-paper clear-mrg clearfix">
            <div class="crt-paper-cont paper-padd clear-mrg">
              <section id="interests" class="section padd-box">
                <div class="row">
                  
                  <div class="col-sm-12 clear-mrg">
                    <h2 class="title-lg text-upper"><%= t('title/interests') %></h2>
                    <ul class="crt-icon-list crt-icon-list-col3 clearfix">
                      <li>
                        <img alt="<%= t('book') %>" src="/data/images/book.png">
                        <%= t('reading') %>
                      </li>
                      <li>
                        <img alt="<%= t('notes') %>" src="/data/images/music.png">
                        <%= t('music') %>
                      </li>
                      <li>
                        <img alt="<%= t('gaming') %>" src="/data/images/game.png">
                        <%= t('games') %>
                      </li>
                      <li>
                        <img alt="<%= t('cat') %>" src="/data/images/cat.png">
                        <%= t('cats') %>
                      </li>
                      <li>
                        <img alt="<%= t('plane') %>" src="/data/images/plane.png">
                        <%= t('travel') %>
                      </li>
                      <li>
                        <img alt="<%= t('theatre/icon') %>" src="/data/images/theatre.png">
                        <%= t('theatre') %>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="crt-paper-layers crt-animate">
          <div class="crt-paper clear-mrg clearfix">
            <div class="crt-paper-cont paper-padd clear-mrg">
              <section id="contact" class="section padd-box">
                <h2 class="title-lg text-upper"><%= t('title/contact') %></h2>
                <div class="padd-box-sm">
                  <header class="contact-head">
                  </header>
                  <h3><%= t('contact') %></h3><br> 
                   <div id="form_ok" style="display:none; border: 1px solid green; background-color: lightgreen; padding:1rem 3rem;"><%= t('message/sent_ok') %></div>             
                   <div id="form_ko" style="display:none; border: 1px solid red; background-color: lightcoral; padding:1rem 3rem;"><%= t('message/sent_ko') %></div>  
                   <form action="" id="emailForm" method="post">   
                       <p><label> <%= t('name') %><br>
                        <span class="wpcf7-form-control-wrap your-name"><input type="text" id="name" name="name" autocomplete="on"
                            value="" size="40"                            
                            aria-required="true" aria-invalid="false" required></span> </label>
                    </p>                  
                      <p><label> <%= t('email') %><br>
                          <span class="wpcf7-form-control-wrap your-email"><input type="email" id="email" name="email" autocomplete="on"
                              value="" size="40"                            
                              aria-required="true" aria-invalid="false" required></span> </label>
                      </p>
                      <p><label> <%= t('subject') %><br>
                          <span class="wpcf7-form-control-wrap your-subject"><input type="text" id="subject" name="subject"
                              value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" required></span>
                        </label></p>
                      <p><label><%= t('message') %><br>
                          <span class="wpcf7-form-control-wrap your-message"><textarea id="message" name="message" cols="40"
                              rows="10" class="wpcf7-form-control wpcf7-textarea"
                              aria-invalid="false" required></textarea></span> </label></p>
                      <p><input id="send_button" type="submit" value="<%= t('send') %>" class="wpcf7-form-control has-spinner wpcf7-submit"><span
                          class="wpcf7-spinner"></span></p>                      
                    </form>                  
                    <!-- Form sending in AJAX -->
                    <script>
                      jQuery(document).ready(function() {
                        jQuery('#emailForm').on('submit', function(event) {
                              event.preventDefault();
                              sendbutton = jQuery('#send_button');
                              sendbutton.prop("disabled",true).text('Enviant ...');              
                              jQuery.ajax({
                                  url: '/send-email',
                                  type: 'POST',
                                  data: jQuery(this).serialize(),
                                  success: function(response, textStatus, jqXHR) {
                                    jQuery('#emailForm').fadeOut();
                                    jQuery('#form_ok').fadeIn();
                                  },
                                  error: function(jqXHR, textStatus, errorThrown) {
                                    jQuery('#form_ko').fadeIn();
                                    sendbutton.prop("disabled",false).text("<%= t('send') %>");
                                  }
                              });
                          });
                      });
                  </script>                  
                  </div>
                  <div class="social-icons" style="text-align: center;">   
                    <a style="margin-left: 0.15rem;" href="https://www.linkedin.com/in/aida-vers-delgado-a33520241/"><img alt="LinkedIn" src="/data/images/linkedin.png"></a>
                    <a style="margin-left: 0.15rem;" href="https://github.com/aidavede/"><img alt="GitHub" src="/data/images/github.png"></a>
                    <a style="margin-left: 0.15rem;" href="mailto:aida@aidavers.com"><img alt="<%= t('mail') %>" src="/data/images/email.png"></a>         
                  </div>
                </div>

                </div>               
                     <div style="overflow: hidden;"></div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="crt-paper-layers crt-animate">
      <div class="crt-paper clear-mrg clearfix">     
      </div>
    </div>
    <div id="crtSidebar">
      <button id="crtSidebarClose" class="btn btn-icon btn-light btn-shade">
        <span class="crt-icon crt-icon-close"></span>
      </button>
      <div id="crtSidebarInner" class="mCustomScrollbar _mCS_1 mCS-autoHide"
        style="position: relative; overflow: visible;">
        <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;"
          tabindex="0">
          <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
            <aside class="widget-area clear-mrg">
            </aside>
          </div>
        </div>
        <div id="mCSB_1_scrollbar_vertical"
          class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
          <div class="mCSB_draggerContainer">
            <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
              style="position: absolute; min-height: 50px; display: block; height: 525px; max-height: 677.6px; top: 0px;">
              <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
              <div class="mCSB_draggerRail"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <svg id="crtBgShape1" class="hidden-sm hidden-xs" height="519" width="758">
      <polygon class="pol" points="0,455,693,352,173,0,92,0,0,71"></polygon>
    </svg>
    <svg id="crtBgShape2" class="hidden-sm hidden-xs" height="536" width="633">
      <polygon points="0,0,633,0,633,536"></polygon>
    </svg>
  </div>   
  <script type="text/javascript" id="contact-form-7-js-extra">
    /* <![CDATA[ */
    var wpcf7 = { "api": { "root": "https:\/\/certy.px-lab.com\/designer\/wp-json\/", "namespace": "contact-form-7\/v1" } };
    /* ]]> */
  </script>   
  <script type="text/javascript" src="/data/plugins.min.js.descarga"
    id="certy-plugins-js-js"></script>
  <script type="text/javascript" id="certy-main-js-js-extra">
    /* <![CDATA[ */
    var certy_vars_from_WP = { "themeColor": "#b2dcff", "mapStyles": "[\n    {\n        \"featureType\": \"administrative\",\n        \"elementType\": \"all\",\n        \"stylers\": [\n            {\n                \"saturation\": \"-100\"\n            }\n        ]\n    },\n    {\n        \"featureType\": \"administrative.province\",\n        \"elementType\": \"all\",\n        \"stylers\": [\n            {\n                \"visibility\": \"off\"\n            }\n        ]\n    },\n    {\n        \"featureType\": \"landscape\",\n        \"elementType\": \"all\",\n        \"stylers\": [\n            {\n                \"saturation\": -100\n            },\n            {\n                \"lightness\": 65\n            },\n            {\n                \"visibility\": \"on\"\n            }\n        ]\n    },\n    {\n        \"featureType\": \"poi\",\n        \"elementType\": \"all\",\n        \"stylers\": [\n            {\n                \"saturation\": -100\n            },\n            {\n                \"lightness\": \"50\"\n            },\n            {\n                \"visibility\": \"simplified\"\n            }\n        ]\n    },\n    {\n        \"featureType\": \"road\",\n        \"elementType\": \"all\",\n        \"stylers\": [\n            {\n                \"saturation\": \"-100\"\n            }\n        ]\n    },\n    {\n        \"featureType\": \"road.highway\",\n        \"elementType\": \"all\",\n        \"stylers\": [\n            {\n                \"visibility\": \"simplified\"\n            }\n        ]\n    },\n    {\n        \"featureType\": \"road.arterial\",\n        \"elementType\": \"all\",\n        \"stylers\": [\n            {\n                \"lightness\": \"30\"\n            }\n        ]\n    },\n    {\n        \"featureType\": \"road.local\",\n        \"elementType\": \"all\",\n        \"stylers\": [\n            {\n                \"lightness\": \"40\"\n            }\n        ]\n    },\n    {\n        \"featureType\": \"transit\",\n        \"elementType\": \"all\",\n        \"stylers\": [\n            {\n                \"saturation\": -100\n            },\n            {\n                \"visibility\": \"simplified\"\n            }\n        ]\n    },\n    {\n        \"featureType\": \"water\",\n        \"elementType\": \"geometry\",\n        \"stylers\": [\n            {\n                \"hue\": \"#ffff00\"\n            },\n            {\n                \"lightness\": -25\n            },\n            {\n                \"saturation\": -97\n            }\n        ]\n    },\n    {\n        \"featureType\": \"water\",\n        \"elementType\": \"labels\",\n        \"stylers\": [\n            {\n                \"lightness\": -25\n            },\n            {\n                \"saturation\": -100\n            }\n        ]\n    }\n]", "enable_sticky": "1" };
    /* ]]> */
  </script>   
  <script type="text/javascript" src="/data/theme.min.js.descarga"
    id="certy-main-js-js"></script>
    

</body>

</html>
